---
layout: default
title: Features
---

<header id="head" class="secondary"></header>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-6 highlight">

            <h2>Licence</h2>

	    <p>
            This program is licensed under the
            <a href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.en.html" target="_blank">GNU Lesser General Public License, Version 2.1</a>.
	    </p>

            <h3>Download or fork the project</h3>

	    <p>
	    Please note that the default branch is the master branch which may
            contain experimental, untested, or unpublished code.
            We recommend to download the latest release branch for production calculations.
	    </p>

            <h3>Latest stable released versions</h3>
            <ul>
                <li><a href="https://gitlab.com/dalton/dalton/tree/release/2016" target="_blank">Dalton</a></li>
                <li><a href="https://gitlab.com/dalton/lsdalton/tree/release/1.3" target="_blank">LSDalton</a></li>
            </ul>

            <h3>Bleeding edge development versions</h3>
            <ul>
                <li><a href="https://gitlab.com/dalton/dalton" target="_blank">Dalton</a></li>
                <li><a href="https://gitlab.com/dalton/lsdalton" target="_blank">LSDalton</a></li>
            </ul>
        </div>
    </div>
</div>
